/* menu */
header{
	background-image:url("../img/grupal.jpg");
	background-size:100%; 
	background-repeat: no-repeat;
	padding-bottom: 50%;
}
.sum{
	background: #DBA901;
	width:60%;
	margin:40px 30px 50px 30px;
	padding: 10px 10px 10px 10px;
}
.logo{
     margin-top:5%;
	width:370px;
	height: 100px;
}
/* lista */
nav ul{
	list-style-type:none;
	padding-top:34px;
	margin: 0 -15px 0 0;
	float:right;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	white-space:nowrap;
}
nav li{
	position:relative;
	float: left;
	margin:5px;
	padding: 5px;
	background: #585858;
}
nav{
	text-decoration: none;
	padding: 10px; 
	color: #eee;
	text-shadow:2px 2px 4px #000;
	color:#fff;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	background: #D8D8D8;
}
/* section */
.grupal{
	display: inline-block;
	height: 250px;
	width: 250px;
  	margin:30px 100px 100px 0px;
}
p{
	border-bottom: 1px blue solid;
	margin-top:-100px;
	font-size:18px;
	margin-bottom:50px;
}
/* final de la pagina */
.fin{
	text-align: center;
	color:white;
	margin-top:20px;
}
footer{
	background: black;
	height: 40px;
	font-size:10px;
}


